.frame-11 .elipse-1 {
  width: 50px;
  height: 50px;
  background-image: url("https://s3-alpha-sig.figma.com/img/6267/26b2/be2595433c28eda2a913cea75a86a8c4?Expires=1701043200&Signature=DWXyDhlwBxPb2bykMDgTSvq-9B2AJ~elLIkMHD~thG~~bmpHrv~~d3z3F2osm7WPwuVgrWcbv1jWggz-jmOV8yJx7tQHHHcFtgyPWSgaL5V3WKVyJ1O2-FW220NIdU8g6uEY8V~84KbgwMTBjan2nkk3CPgD-VBW2HLFe6PDqfU1qXpy1NeBSMv3ZoN8fL0iJRSHYQA9ZORZwleqC0mMKTEHZBxSzxGIaRuriuiuhfaxs0DyAisuNQwhlpNRbSWCsbIaSSuVQsQwnbcEzKk~qyBcD3ExEhHVWt7paG4U2dThS8VlUzFdVezrwjyNu2gOJch38lbtE12wkI-rimC2fg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-size: contain;
}
@media only screen and (max-width: 440px) and (max-height: 940px) {
  .container {
    justify-content: center;
    width: 350px !important;
    margin: 0 auto;
  }
  .header-1 {
    width: 350px;
  }
  #frame-59 {
    width: 350px;
  }
  #how-it-work {
    align-items: center;
    justify-content: center;
    width: 350px;
  }
  #take-your-site {
    font-size: 15px;
    width: 300px !important;
    line-height: 25px;
  }
  .contain {
    flex-direction: column;
    gap: 20px;

    width: 350px !important;
    align-items: center;
    justify-content: center;
  }
  .contain p {
    font-size: 20px !important;
  }
  #frame-54 {
    justify-content: center;
    align-items: center;
    width: 350px;
  }
  .details .text {
    justify-content: center !important;
    width: 300px !important;
    align-items: center !important;
  }
  .numbers p {
    width: 350px;
  }

  .image #img-thunder {
  }
  #how-it-work p {
    width: 200px;
  }
  .details {
    width: 350px !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
  }
  .details p {
    width: 200px;
  }
  .footer-1 {
    width: 350px;
  }
  .frame-1 {
    gap: 10px;
  }
  #menu-categories {
    width: 350px;
    flex-direction: column;
    gap: 20px;
  }
  .row-1 {
    justify-content: center !important;
    align-items: center !important ;
    flex-direction: column !important;
  }
  .row-2 {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  #frame-51 {
    flex-direction: column;
    gap: 20px;
  }
  #frame-58 {
    margin: 0 auto;
  }
  #frame-56 {
    width: 300px;
  }
  #btn-get-start {
    padding: 6px;
  }

  #frame-59 img {
    margin: 0 auto;
    width: 250px;
    height: 350px;
  }
  #text-save-hundreds {
    width: 350px;
  }
  body {
    width: 350px;
  }
  html {
    margin: 0 auto;
    width: 350px;
  }
  #row-1 {
    display: flex;
    flex-direction: column;
  }
  #feature-2 {
    width: 350px;
  }
  #frame-4 {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    width: 350px;
  }
  #numbers-3 {
    flex-direction: column;
    gap: 20px;
    width: 350px;
  }
  #arrow {
    width: 0;
    height: 0;
  }
  #testimonial-2 {
    width: 350px;
  }
  #testimonial-2 .text p {
    width: 300px;
  }
  .columns,
  .columns p {
    width: 300px;
    flex-direction: column;
  }
  .frame-10 {
    text-align: center;
  }
  .px-52 {
    padding: 40px;
  }
  #text-trendiest {
    font-size: 10px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #menu-navbar-2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .menu-categories {
    width: 350px;
    margin: 0 auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .frame-2 {
    margin: 0 auto;
  }
}
